.days {
    border: 1px solid rgb(219, 191, 226);
    display: flex;
    flex-direction: column;
    .current-day {
        background-color: #c42eff;
        color: #fff;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }

    .days-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .days-text-small {
        font-size: 14px;
        margin-top: 10px;
        font-weight: bold;
        color: #c42eff;
    }

    .days-text {
        font-size: 14px;
        padding: 6px 8px;
        margin: 4px 10px;
        text-align: center;
    }
}